In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from sktime.utils.plotting import plot_series
from sktime.forecasting.model_selection import temporal_train_test_split
from sktime.forecasting.ets import AutoETS
from sktime.forecasting.base import ForecastingHorizon
from sktime.performance_metrics.forecasting import mean_squared_error
from sktime.forecasting.exp_smoothing import ExponentialSmoothing
import warnings
warnings.filterwarnings("ignore")

In [6]:
train_df=pd.read_csv('Train_SU63ISt.csv',index_col=1)

In [7]:
train_df

                     ID  Count
Datetime
25-08-2012 00:00      0      8
25-08-2012 01:00      1      2
25-08-2012 02:00      2      6
25-08-2012 03:00      3      2
25-08-2012 04:00      4      2
...                 ...    ...
25-09-2014 19:00  18283    868
25-09-2014 20:00  18284    732
25-09-2014 21:00  18285    702
25-09-2014 22:00  18286    580
25-09-2014 23:00  18287    534

[18288 rows x 2 columns]

In [9]:
idx=pd.to_datetime(train_df.index).to_period("M")
train_df.index=idx

In [10]:
train_df

             ID  Count
Datetime
2012-08       0      8
2012-08       1      2
2012-08       2      6
2012-08       3      2
2012-08       4      2
...         ...    ...
2014-09   18283    868
2014-09   18284    732
2014-09   18285    702
2014-09   18286    580
2014-09   18287    534

[18288 rows x 2 columns]

In [15]:
y_train=train_df['Count']

In [17]:
type(y_train)

pandas.core.series.Series

In [20]:
y_train.index

PeriodIndex(['2012-08', '2012-08', '2012-08', '2012-08', '2012-08', '2012-08',
             '2012-08', '2012-08', '2012-08', '2012-08',
             ...
             '2014-09', '2014-09', '2014-09', '2014-09', '2014-09', '2014-09',
             '2014-09', '2014-09', '2014-09', '2014-09'],
            dtype='period[M]', name='Datetime', length=18288)

In [21]:
y_train

Datetime
2012-08      8
2012-08      2
2012-08      6
2012-08      2
2012-08      2
          ...
2014-09    868
2014-09    732
2014-09    702
2014-09    580
2014-09    534
Freq: M, Name: Count, Length: 18288, dtype: int64

In [25]:
y_test=pd.read_csv('Test_0qrQsBZ.csv',index_col=1)

In [29]:
idx=pd.to_datetime(y_test.index).to_period("M")
y_test.index=idx

In [30]:
y_test.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 5112 entries, 2014-09 to 2015-04
Freq: M
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5112 non-null   int64
dtypes: int64(1)
memory usage: 79.9 KB

In [28]:
forecaster=AutoETS(auto=True,sp=12)
forecaster.fit(y_train)
print(forecaster.summary())

                                 ETS Results
==============================================================================
Dep. Variable:                  Count   No. Observations:                18288
Model:                       ETS(MAM)   Log Likelihood              -85608.787
Date:                Thu, 16 Nov 2023   AIC                         171253.574
Time:                        19:20:22   BIC                         171394.226
Sample:                    08-31-2012   HQIC                        171299.791
                         - 09-30-2014   Scale                            0.139
Covariance Type:               approx
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
smoothing_level         0.4618      0.003    134.447      0.000       0.455       0.469
smoothing_trend      4.618e-05        nan        nan        nan         nan         nan
smoothing_seasonal      0.0009        nan        nan        nan         nan         nan
initial_level           3.3021      0.667      4.952      0.000       1.995       4.609
initial_trend           0.9989      0.077     13.029      0.000       0.849       1.149
initial_seasonal.0      1.1541      0.098     11.752      0.000       0.962       1.347
initial_seasonal.1      1.2180      0.097     12.555      0.000       1.028       1.408
initial_seasonal.2      1.0487      0.083     12.641      0.000       0.886       1.211
initial_seasonal.3      0.8592      0.067     12.797      0.000       0.728       0.991
initial_seasonal.4      0.8266      0.067     12.398      0.000       0.696       0.957
initial_seasonal.5      0.7790      0.060     12.953      0.000       0.661       0.897
initial_seasonal.6      0.7407      0.059     12.619      0.000       0.626       0.856
initial_seasonal.7      0.7761      0.060     12.844      0.000       0.658       0.895
initial_seasonal.8      0.8259      0.066     12.557      0.000       0.697       0.955
initial_seasonal.9      0.8853      0.072     12.365      0.000       0.745       1.026
initial_seasonal.10     0.9633      0.071     13.517      0.000       0.824       1.103
initial_seasonal.11     1.0000      0.087     11.475      0.000       0.829       1.171
===================================================================================
Ljung-Box (Q):                     7051.71   Jarque-Bera (JB):           2681930.48
Prob(Q):                              0.00   Prob(JB):                         0.00
Heteroskedasticity (H):               0.27   Skew:                             3.38
Prob(H) (two-sided):                  0.00   Kurtosis:                        61.94
===================================================================================

Warnings:
[1] Covariance matrix calculated using numerical (complex-step) differentiation.

In [ ]:
fh=