In [1]:
import pandas as pd

In [4]:
gas_df=pd.read_csv('AusGas.csv',index_col=0)

In [5]:
gas_df

          GasProd
Month
Jan-1956     1709
Feb-1956     1646
Mar-1956     1794
Apr-1956     1878
May-1956     2173
...           ...
Apr-1995    49013
May-1995    56624
Jun-1995    61739
Jul-1995    66600
Aug-1995    60054

[476 rows x 1 columns]