In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from surprise.prediction_algorithms.matrix_factorization import SVD
from sklearn.model_selection import GridSearchCV
import surprise

In [20]:
u_df=pd.read_csv('u.data',sep='\t',names=['uid','iid','rating','timestamp'])

In [21]:
u_df

       uid   iid  rating  timestamp
0      196   242       3  881250949
1      186   302       3  891717742
2       22   377       1  878887116
3      244    51       2  880606923
4      166   346       1  886397596
...    ...   ...     ...        ...
99995  880   476       3  880175444
99996  716   204       5  879795543
99997  276  1090       1  874795795
99998   13   225       2  882399156
99999   12   203       3  879959583

[100000 rows x 4 columns]

In [22]:
u_df.drop('timestamp',inplace=True, axis=1)

In [23]:
u_df

       uid   iid  rating
0      196   242       3
1      186   302       3
2       22   377       1
3      244    51       2
4      166   346       1
...    ...   ...     ...
99995  880   476       3
99996  716   204       5
99997  276  1090       1
99998   13   225       2
99999   12   203       3

[100000 rows x 3 columns]

In [24]:
lowest_rating=u_df['rating'].min()
highest_rating=u_df['rating'].max()
print('Rating range between {0} and {1}'.format(lowest_rating,highest_rating))

Rating range between 1 and 5

In [26]:
reader=surprise.Reader(rating_scale=(lowest_rating,highest_rating))
data=surprise.Dataset.load_from_df(u_df,reader)
type(data)

surprise.dataset.DatasetAutoFolds