In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,StratifiedKFold
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.model_selection import cross_val_score

In [2]:
hr=pd.read_csv('HR_comma_sep.csv')

In [3]:
hr

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14990,0.40,0.57,2,151,3,0,1,0,support,low
14991,0.37,0.48,2,160,3,0,1,0,support,low
14992,0.37,0.53,2,143,3,0,1,0,support,low
14993,0.11,0.96,6,280,4,0,1,0,support,low
14994,0.37,0.52,2,158,3,0,1,0,support,low

In [4]:
hr=pd.get_dummies(hr,drop_first=True)

In [5]:
X=hr.drop('left',axis=1)
y=hr['left']

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler=StandardScaler()
X=scaler.fit_transform(X)

In [8]:
kfold=StratifiedKFold(n_splits=5,shuffle=True,random_state=23)

In [9]:
tsne=TSNE(random_state=23).set_output(transform='pandas')

In [10]:
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline

In [11]:
svm=SVC(kernel='linear')
pipe=Pipeline([('TSNE',tsne),('SVM',svm)])

In [12]:
params={'TSNE__perplexity':[5,15,30,35]}

In [13]:
x_tsne=tsne.fit_transform(X)
scores=[]
perplex=[5,15,30,35,45,50]

In [ ]:
for i in perplex:
    tsne=TSNE(random_state=23,perplexity=i)
    x_tsne=tsne.fit_transform(X)
    svm=SVC(kernel='linear')
    results=cross_val_score(svm,x_tsne,y,cv=kfold,verbose=3)
    scores.append(results.mean())

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END ................................ score: (test=0.762) total time=64.4min

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed: 64.4min remaining:    0.0s

[CV] END ................................ score: (test=0.762) total time=64.7min

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed: 129.0min remaining:    0.0s