In [1]:
import pandas as pd

In [4]:
gas_df=pd.read_csv('AusGas.csv',index_col=0)

In [5]:
gas_df

          GasProd
Month
Jan-1956     1709
Feb-1956     1646
Mar-1956     1794
Apr-1956     1878
May-1956     2173
...           ...
Apr-1995    49013
May-1995    56624
Jun-1995    61739
Jul-1995    66600
Aug-1995    60054

[476 rows x 1 columns]

In [6]:
y=gas_df['GasProd']

In [7]:
y_train=y[:464]

In [8]:
y_test=y[464:]

In [9]:
from statsmodels.tsa.ar_model import AutoReg

In [11]:
model=AutoReg(y_train,lags=6)

/home/dai/anaconda3/lib/python3.11/site-packages/statsmodels/tsa/base/tsa_model.py:559: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  _index = to_datetime(index)
/home/dai/anaconda3/lib/python3.11/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

In [12]:
model_fit=model.fit()

In [13]:
print('Coefficients: %s'%model_fit.params)

Coefficients: const         217.719010
GasProd.L1      1.169807
GasProd.L2      0.072351
GasProd.L3     -0.298099
GasProd.L4     -0.171587
GasProd.L5      0.001518
GasProd.L6      0.221831
dtype: float64

In [ ]:
predictions=model_fit.predict(start=len(y_train),end=len())